{% if content %}
	<div {{ attributes.addClass('vixon-event-section')}}>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-5  mb-5 mb-md-0">
					<div class="about-img">
						{% if content.second_image %}
							{{ content.second_image }}
						{% endif %}
						{% if content.first_image %}
							<div {{ region_attributes.first_image.addClass('img-block')}}>
								{{ content.first_image }}
							</div>
						{% endif %}
					</div>
				</div>
				<div class="col-md-7 mt-5 mt-md-0">
					<div class="vixon-heading">
						{% if content.intro %}
							<span {{ region_attributes.intro.addClass('stroked-text')}}>{{ content.intro }}</span>
						{% endif %}
						<div class="title">
							{% if content.title %}
								<h2 {{ region_attributes.title.addClass('head-title') }}>
									{{ content.title }}
								</h2>
							{% endif %}
							{% if content.description %}
								<div {{ region_attributes.description.addClass('title-description') }}>
									{{ content.description }}
								</div>
							{% endif %}
							{% if content.call_to_action %}
								<div {{ region_attributes.call_to_action.addClass('question-block') }}>
									{{ content.call_to_action }}
								</div>
							{% endif %}
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
{% endif %}
